/*** STYLE BOTTONI ***/
.but1 {
    background-color: #FFFFFF;
    border: 3px solid #E1C0B0;
    padding: 0.9rem 2rem;
    font-size: 10px;
    letter-spacing: 4px;
}

.but2 {
    background-color: #D8F0E3;
    padding: 1rem 3rem;
    font-size: 10px;
    border: 0;
    letter-spacing: 4px;
}

.but1:hover {
    background-color: #E1C0B0;
}

/*style shadow menu*/
.shad:hover {
    text-shadow: 1px 3px 3px #E1C0B0;
}

/*** STYLE JUMBOTRON ***/
.col-6 {
    background-color: #FFFFFF;
    position: relative;
}

.jumbo-photo {
    width: 16rem;
}

.slider {
    width: 8px;
    height: 8px;
    margin: 5px;
    cursor: pointer;
    background-color: #E1C0B0;
}

.slider:hover {
    scale: 1.4;
}

/*foglie in absolute*/
.leaf1 {
    position: absolute;
    top: 0;
    left: 4rem;
}

.leaf2 {
    position: absolute;
    top: 10rem;
    left: 0;
}

.leaf3 {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
}

.leaf4 {
    position: absolute;
    right: 12rem;
    top: -2rem;
}

.leaf5 {
    position: absolute;
    right: 9rem;
    top: 3.5rem;
}

.leaf6 {
    position: absolute;
    bottom: 1rem;
    right: 7%;
}

/*** STYLE SEZIONE CARDS ***/
.col-4 {
    position: relative;
    width: 100%;
}

.start-0 {
    background-color: white;
    position: absolute;
    line-height: 5px;
    cursor: pointer;
    padding: 1.3rem;
    opacity: 0;
}

.shop {
    width: 6rem;
    position: absolute;
    right: -4.5rem;
    top: 5rem;
    cursor: pointer;
    opacity: 0;
}

.col-4:hover .start-0 {
    opacity: 1;
}

.col-4:hover .shop {
    opacity: 1;
}


/*** STYLE SEZIONE "WORK PROCESS" ***/
.col-9 {
    position: relative;
}

.col-3 {
    z-index: 10;
    position: relative;
}

.line {
    z-index: 10-1;
}

.icon {
    background-color: #FAF7F1;
    font-size: 2.3rem;
    color: #BADAC9;
}

.icon2 {
    background-color: #FAF7F1;
    font-size: 2.4rem;
    color: #F8D12D;
}

.icon3 {
    background-color: #FAF7F1;
    font-size: 2.2rem;
    color: #80465F;
}

.icon4 {
    background-color: #FAF7F1;
    font-size: 2.2rem;
    color: #EB6950;
}

/*** STYLE SECONDO JUMBOTRON ***/
.jumbo-2 {
    background-image: url(../pictures/h-2-background-1.jpg);
    background-size: cover;
}

.flag {
    position: absolute;
    left: 2rem;
    top: -1rem;
    cursor: pointer;
}

/*** STYLE DEL FOOTER ***/
.footer {
    background-color: #C0E1CF;
}

.container {
    position: relative;
}

/*** STYLE UTILS ***/
.p2 {
    font-size: 12px;
}

.by {
    font-size: 10px;
}

.google-font {
    font-family: 'Libre Caslon Text', serif;
}